<%provide(:title, 'Forum')%>
<h1>Forum</h1>

<%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %> <h2>pour participer dans les forum.</h2>

<% user = current_user %>
<h4>You: <%= user.name %></br>
Weight on <%= Date.today %>: <%= user.weight %> kgs
</br>
Bench: <%= user.bench %>
</h4>


