<div class="right controls"><h3><%= link_to "Retour à la forum", forum_path(@topic.forum) %></h3></div>
<div class="module">
  <div class="module_header">
    <%= @topic.title %>
    <span class="right controls">
      <%= link_to "Modifier", edit_topic_path(@topic) %>
      <%= link_to "Annuler", @topic, :confirm => "Are you sure?", :method => :delete %>
      <%= link_to @topic.sticky ? "Unstick" : "Sticky", {:controller => 'topics', :action => 'update', :topic => {:sticky => @topic.sticky ? "false" : "true" }}, :method => :put %>
      <%= link_to @topic.locked ? "Unlock" : "Lock", {:controller => 'topics', :action => 'update', :topic => {:locked => @topic.locked ? "false" : "true" }}, :method => :put %>
    </span>
  </div>
  <div>
    <table>
      <% @topic.posts.each do |post| %>
      <tr>
        <td class="post_author" rowspan="2">
          <span class="name"><%= post.user.name %></span>
          <span class="avatar"><%= image_tag post.user.avatar.url %></span>
          <span class="info smaller">
            Posts <%= post.user.posts.size %><br />
            Inscrit <%= post.user.created_at.to_s(:joined) %><br />
          </span>
        </td>
        <td class="post_header">
          <span class="left post_date smaller">Posted <%= post.created_at %></span>
          <span class="right controls">
            <%= link_to "Répondre", new_topic_post_path(@topic) %>
            <%= link_to "Citer", new_topic_post_path(@topic, :quote => post) %>
            <%= link_to "Modifier", edit_post_path(post) %>
            <%= link_to "Suprimer", post, :confirm => "êtes-vous sûr?", :method => :delete %>
          </span>
        </td>
      </tr>
      <tr>
        <td class="post_body">
          <%= simple_format(auto_link(post.body)) %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>