<% provide(:title, "Edit user") %>
<h1>Mettre à jour votre profil</h1>

<div class="row">
  <div class="span6 offset3">
    
  

    <%= form_for @user, :html => { :multipart => true } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :nom %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.label :location %>
      <%= f.text_field :location %>
      
      <%= f.label :age %>
      <%= f.number_field :age %>
     
      <%= f.label :poid_en_kg %>
      <%= f.number_field :poid %>

      <%= f.label :taille_en_cm %>
      <%= f.number_field :taille %>

      <%= f.label :mot_de_passe %>
      <%= f.password_field :password %>

      <%= f.label :confirmation_de_mot_de_passe %>
      <%= f.password_field :password_confirmation %>


      <%= image_tag @user.avatar.url%>
      <div class="field">
  <%= f.label :avatar %><br />
  <%= f.file_field :avatar %>
</div>
  
      <div class= "chanle">Changer image:  </div>
      <div class="chanr"><%= f.file_field :avatar %></div>


      <%= f.submit "Enregistrer les modifications", class: "btn btn-large btn-primary" %>
    <% end %>

    
  </div>
</div>