<% provide(:title, 'Abdominaux') %>

<div class="center hero-unit">
       <h1>Abdominaux</h1>
    	
       
</div>
   <div class="row-fluid">
    <div class="span4">
<h3></h3></br>
        
        
    </div>

    <div class="span4">
        <h3>Abdominaux</h3></br>
        <%= link_to "Landmine 180's", abdominaux1_path %></br>
        <%= link_to "Araignée rampement", abdominaux2_path %></br>
        <%= link_to "Relevés de jambes", abdominaux3_path %></br>
        <%= link_to "Plank", abdominaux4_path %></br>
        <%= link_to "Haltère courbure latérale", abdominaux5_path %></br>
        <%= link_to "Relevé de jambes en suspension", abdominaux6_path %></br>

    </div>

<div class="span4">
        

       
   </div>
</div>
  


 

