<% provide(:title, 'Bras') %>

<div class="center hero-unit">
       <h1>Bras</h1>
    	
       
</div>
    <div class="row-fluid">
    <div class="span4">
<h3>Biceps</h3></br>
        <%= link_to "Curl Barre", bras1_path %></br>
        <%= link_to "Hammer curl", bras2_path %></br>
        <%= link_to "Hammer curl- incliné", bras3_path %></br>
        <%= link_to "Zottman curl", bras4_path %></br>
        <%= link_to "Curl concentration", bras5_path %></br>
        <%= link_to "Chin up", bras6_path %></br>
    </div>
<div class="span4">
    <h3>Triceps</h3></br>
        <%= link_to "EZ barre front- décliné", bras7_path %></br>
        <%= link_to "Dip- version tricep", bras8_path %></br>
        <%= link_to "Dip de banc", bras9_path %></br>
        <%= link_to "Body up", bras10_path %></br>
        <%= link_to "Extensions au-dessus de la tête", bras11_path %></br>

    </div>

    
        
        
   </div>

  