<% provide(:title, 'Épaules') %>

<div class="center hero-unit">
       <h1>Épaules</h1>
    	
       
</div>
   <div class="row-fluid">
    <div class="span4">
<h3>Deltoïde latéral</h3></br>
        <%= link_to "Développé haltère", epaules1_path %></br>
        <%= link_to "Un seul bras linéaire Jammer", epaules2_path %></br>
        <%= link_to "Elévations latérales", epaules3_path %></br>
        <%= link_to "Clean et presse", epaules4_path %></br>
    </div>

    <div class="span4">
        <h3>Deltoïde antérieur</h3></br>
        <%= link_to "Elévations devant", epaules5_path %></br>
        <%= link_to "Développé militaire", epaules6_path %></br>
        <%= link_to "Arnold développé haltère", epaules7_path %></br>
        <%= link_to "Car driver", epaules8_path %></br></br></br></br>
        <%= image_tag("jean.jpg", alt: "jean", id: "jean") %>


    </div>

<div class="span4">
        <h3>Deltoïde postérieur</h3></br>
        
        <%= link_to "Rowing barre- version delt arrière", epaules11_path %></br>
        <%= link_to "Elévations delt, assis et courbé", epaules10_path %></br>
        <%= link_to "Haltères Allongé Un-bras latéral arrière élever", epaules9_path %></br></br></br></br></br>

        <div class= "hunch">
<h4>N'oubliez pas les deltoïdes arrière, sinon vous serez comme jean!</h4>

        </div>
   </div>
</div>
  


 
