<% provide(:title, 'Épaules') %>

<div class="center hero-unit">
       <h1>Épaules</h1>
    	
       
</div>
   <div class="row-fluid">
    <div class="span4">
<h3>Deltoïde latéral</h3></br>
        <%= link_to "Développé haltère", epaules1_path %></br>
        <%= link_to "Un seul bras linéaire Jammer", epaules2_path %></br>
        <%= link_to "Horloge pompes", pectoraux6_path %></br>
        <%= link_to "Pompes", pectoraux7_path %></br>
    </div>

    <div class="span4">
        <h3>Deltoïde antérieur</h3></br>
        <%= link_to "Développé couché incliné", pectoraux2_path %></br>
        <%= link_to "Ecarté couché incliné", pectoraux3_path %></br>
    </div>

<div class="span4">
        <h3>Deltoïde postérieur</h3></br>
        <%= link_to "Développé couché décliné- prise large", pectoraux8_path %></br>
        <%= link_to "Dips- version poitrine", pectoraux5_path %></br>
        
   </div>
</div>
  


 
