
<% provide(:title, 'Exercices') %>

<div class="center hero-unit">
       <h1>Exercies</h1>
    	
       
</div>
    <div class="row-fluid">
    <div class="span12">
    	<%= link_to "Pectoraux", pectoraux_path %></br>
    	<%= link_to "Jambes", jambes_path %></br>
    	<%= link_to "Dos", dos1_path %></br>
    	<%= link_to "Epaules", epaules_path %></br>
    	<%= link_to "Bras", bras_path %></br>
        <%= link_to "Abdominaux", abdominaux_path %></br>
        <%= link_to "Trapezes/Cou", trapezes_path %></br>
  
   </div>
</div>