<% provide(:title, 'Pectoraux') %>

<div class="center hero-unit">
       <h1>Pectoraux</h1>
    	
       
</div>
    <div class="row-fluid">
    <div class="span4">
<h3>Milieu</h3></br>
        <%= link_to "Développé couché", pectoraux1_path %></br>
        <%= link_to "Ecarté couché", pectoraux4_path %></br>
        <%= link_to "Horloge pompes", pectoraux6_path %></br>
        <%= link_to "Pompes", pectoraux7_path %></br>
    </div>

    <div class="span4">
        <h3>Supérieurs</h3></br>
        <%= link_to "Développé couché incliné", pectoraux2_path %></br>
        <%= link_to "Ecarté couché incliné", pectoraux3_path %></br>
        <%= link_to "Pompes avec les pieds surélevés", pectoraux9_path %></br>
    </div>

<div class="span4">
        <h3>Inférieurs</h3></br>
        <%= link_to "Développé couché décliné- prise large", pectoraux8_path %></br>
        <%= link_to "Dips- version poitrine", pectoraux5_path %></br>
        <%= link_to "Pompes avec les mains surélevés", pectoraux10_path %></br>
        
   </div>
</div>
  
