<header class="navbar-custom navbar-fixed-top navbar">
  
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Musculation", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          
          <% if signed_in? %>
          <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Exercices<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Exercices", exercices_path, id: "navTop" %></li>
                <li><%= link_to "Pectoraux", pectoraux_path %></li>
                <li><%= link_to "Jambes", jambes_path %></li>
                <li><%= link_to "Dos", dos1_path %></li>
                <li><%= link_to "Epaules", epaules_path %></li>
                <li><%= link_to "Biceps", biceps_path %></li>
                <li><%= link_to "Triceps", triceps_path %></li>
                <li><%= link_to "Trapezes/Cou", trapezes_path %></li>


                  </ul>
                </li>
            
          <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Custom<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Custom regime",    custom_regime_path, id: "navTop" %></li>
                <li><%= link_to "Custom journal", custom_journal_path %></li>
                


                  </ul>
                </li>
          <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                8-12*4<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "8-12*4 regime",    standard_path, id: "navTop" %></li>
                <li><%= link_to "Dos", dos_path %></li>
                <li><%= link_to "Poitrine", poitrin_path %></li>
                <li><%= link_to "Cuisses, epaules", cuisses_epaules_path %></li>


                  </ul>
                </li>

<li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                5*5<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "5*5 regime",    regime_path, id: "navTop" %></li>
                <li><%= link_to "Jour 1", jour1_path %></li>
                <li><%= link_to "Jour 2", jour2_path %></li>
                <li><%= link_to "Jour 3", jour3_path %></li>
                </ul>
                </li>



         
          <li><%= link_to "Utilisateurs", users_path %></li>
           <li><%= link_to "Forum", forums_path %></li>
          
            
           



            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Compte <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profil", current_user %></li>
                <li><%= link_to "Paramètres", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Deconnectez-vous", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
          <li><%= link_to "D'accueil",    root_path, id: "navTop" %></li>
          <li><%= link_to "8-12*4",    standard_path, id: "navTop" %></li>
          <li><%= link_to "5*5",    regime_path, id: "navTop" %></li>
          
          <li><%= link_to "Info", about_path, id: "navTop" %></li>
            <li><%= link_to "Connectez-vous", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>

</header>